{% extends 'base/main.html' %}
{% block content %}


<div style="margin-left:15%; padding:1px 16px; height:1000px;">
    <h1>PLAYLISTS</h1>


    {% for i in playlists %}
        <h3><a href="{% url 'playlist_details' i.id %}">{{i.title}}</a>     <a href="">  ----@{{i.user}}</a></h3>
        <iframe style="border-radius:12px" src="{{i.embed_code}}" width="50%" height="300" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <form method="POST" action="{% url 'push' i.id %}">
            {% csrf_token %}
            <br>
            <div class="click">
                <button type="submit" name="playlist_id" value="{{i.id}}">&#10084;</button>
            </div>

        </form>

        <br>

    {% empty %}
        <p>NO PLAYLISTS SHARED RIGHT NOW IN THIS GENRE</p>
        <br>
    {% endfor %}



<hr>
{% if request.user.is_authenticated %}
    <div class="click">
        <button><h3><a href="{% url 'playlist_create' %}">SHARE A PLAYLIST</a></h3></button>
    </div>

{% else %}
    <div class="click">
        <button><h3><a href="{% url 'login' %}">SHARE A PLAYLIST</a></h3></button>
    </div>

{% endif %}

{% endblock %}

</div>



