{% extends 'base/main.html' %}

{% block content %}
<div style="margin-left:15%; padding:1px 16px; height:1000px;">
    <h1>YOUR PLAYLISTS</h1>

    <table>
        {% for playlist in user_playlists %}
            <tr>
                <td><a href="{% url 'playlist_details' playlist.id %}">{{playlist.title}}</a></td>
                <td><div class="click" ><button><a href="{% url 'playlist_update' playlist.id %}">EDIT </a></button></div></td>
                <td><div class="click" ><button><a href="{% url 'playlist_delete' playlist.id %}">DELETE </a></button></div></td>
            </tr>
        {% empty %}
        <p>YOU HAVE NOT SHARED ANY PLAYLIST</p>
        {% endfor %}
    </table>
    <div class="click">
        <button><h4><a href="{% url 'home' %}">GO BACK</a></h4></button>
        <button><h4><a href="{% url 'playlist_create' %}">SHARE A PLAYLIST</a></h4></button>
    </div>


</div>

{% endblock %}





